{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'minerals/css/global.css' %}">
  <title>Mineral Catalog: A magnificant catalog of minerals</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
</head>
<body>
  {% block div %}<div class="bounds">{% endblock %}
    <div class="grid-100">
      <a href="/">
        <svg class="logo" viewBox="0 0 127.6 84.8" preserveAspectRation="xMinYMin meet">
          <polygon points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "/>
          <polygon class="logo--middle" points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "/>
          <polygon points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 "/>
        </svg>
        <h1 class="logo__name text-centered">Mineral Catalog</h1>
      </a>
      <p class="logo__text text-centered">Minerals from around the globe.</p>
    </div>
    <div class="grid-100">
      {% block content %}
      <p>This is a test.
      {% endblock content %}
    </div>
  </div>
  <div class="minerals__random">
    <a class="minerals__anchor" href="/random">Show random mineral</a>
  </div>
</body>
</html>
