{% extends "minerals/layout.html" %}

{% block div %}<div class="bounds bounds--small">{% endblock %}

{% block content %}
</div>
<div class="grid-100 mineral__container">
<h1 class="mineral__name">{{ mineral }}</h1>
<div class="mineral__image-bg">
  <img class="mineral__image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Augelite-au13c.jpg/240px-Augelite-au13c.jpg">
  <p class="mineral__caption">{{ mineral.image_caption}}</p>
</div>
<div class="mineral__table-container">
  <table class="mineral__table">
    {% if mineral.color %}
    <tr>
      <td class="mineral__category">Color</td>
      <td>{{ mineral.color}}</td>
    </tr>
    {% endif %}
    {% if mineral.formula %}
    <tr>
      <td class="mineral__category">Formula</td>
      <td>{{ mineral.formula}}</td>
    </tr>
    {% endif %}
    {% if mineral.group %}
    <tr>
      <td class="mineral__category">Group</td>
      <td>{{ mineral.group}}</td>
    </tr>
    {% endif %}
  </table>
</div>
{% endblock %}
